@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

.calculator__container{
    margin: 20px auto 20px;
    width: 300px; 
    background-color: #303d3f;
}

.calculator__conclusion{
    height: 110px;
    text-align: center;
}

.calculator__conclusion>input{
    width: calc(100% - 20px);
    height: 100%;
    border: 0;
    background-color: transparent;
    font-family: 'Mali', cursive;
    color: white;
    font-size: 50px;
}


.calculator__btns{
    position: relative;
}


.calculator__horizontal-operation{
    display: flex;
    width: 75%;
}

.calculator__horizontal-operation>button{
    background-color: #39484a;
    width: 75px;
    height: 75px;
    border: 0;
    cursor: pointer;
}

.calculator__horizontal-operation>button:not(:last-child){
    border-right: 2px solid #3d4c4e;
}


.calculator__numbers{
    width: 75%;
}

.calculator__numbers_row{
    font-size: 0;
}

.calculator__numbers_row:not(:last-child)>button{
    border-bottom: 2px solid #334042;    
}

.calculator__numbers_row>button{
    border: 0;
    width: 75px;
    height: 75px;
    background-color: #303d3f;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

.calculator__numbers_row>button:not(:last-child){
    border-right: 2px solid #334042;
}


.calculator__vertical-operation{
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.calculator__vertical-operation>button{
    border: 0;
    width: 75px;
    height: 75px;
    background-color: #6cd1e5;
    cursor: pointer;
}

.calculator__vertical-operation>button:not(:last-child){
    border-bottom: 2px solid #69cde1;
}